<div class="layout-container">
  <!-- Felső sáv -->
  <div class="top-bar">
    <button mat-raised-button color="primary">Vissza</button>
  </div>
    <!-- Jármű kártyák -->
    <div class="jarmu-container">
      <mat-card *ngFor="let jarmu of jarmuvek" class="jarmu-card">
        <img mat-card-image ngSrc="https://www.shutterstock.com/image-vector/car-silhouette-modern-260nw-292381178.jpg" alt="Jármű kép" height="288" width="576">
        <mat-card-header>
          <mat-card-title>{{ jarmu.marka }} {{ jarmu.tipus }} {{ jarmu.ev }}</mat-card-title>
          <mat-card-subtitle>{{ jarmu.ar | currency }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
