<mat-card class="login-card">
  <h2 class="title">Bejelentkezés</h2>
  <form (ngSubmit)="onLogin()" class="login-form">

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Jelszó</mat-label>
      <input matInput type="password" [(ngModel)]="jelszo" name="jelszo" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="submit-button">
      Bejelentkezés
    </button>
  </form>

  <div class="registration-link">
    <p>Még nincs fiókod?
      <a routerLink="/register" class="register-link">Regisztráció</a>
    </p>
  </div>
</mat-card>
